.App {
  display: flex;
  justify-content: center;
}

label {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='text'],
input[type='email'] {
  display: block;
  width: 400px;
  padding: 6px 12px;

  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;

  font-size: 14px;
  line-height: 1.42;
  color: #555;
}

.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
}
